<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FAST n FURIOUS</title>
        <link rel="stylesheet" href="/static/css/login-signup.css">

</head>
<body>

    <div class="">
    <div class="container-fluid logo_title">
    <img src="/static/assets/logo/png/fastnfurious-text-logo-01.png" alt="FastnFurioustextlogo" width="70%" height="auto">
    </div>
    
    {{{body}}}
    
    </div>

    <script src="/static/javascript/login-signup.js"></script>

</body>
</html>