<h1>Status page</h1>

{{#if cars.length}}
{{#unless cars.schedule.complete_id}}
<section>
  <h2>Status of Repairs</h2>
  <ol>
    {{#each cars as |car|}}
    <p>{{car.car.make}}</p>
    <p>{{item}}</p>
    {{!-- <p>{{content}}</p> --}}
    {{!-- <li>
      <a href="/post/edit/{{post.id}}" class="edit-link">Edit post</a>
    </li> --}}
    {{/each}}
  </ol>
</section>
{{/unless}}
{{/if}}

 {{!-- service-history --}}

                {{!-- <div class="row service-history justify-content-around">
                   <h4>Service History</h4>
                    <div class="col-sm-4">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Date</h5>
                                <p>mileage: 10000000</p>
                                <p class="card-text">Brake inspection</p>
                                <p class="card-text">Brake inspection</p>
                                <p class="card-text">Brake inspection</p>
                                <p class="card-text">Brake inspection</p>
                                <p class="card-text">Brake inspection</p>

                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Date</h5>
                                <p>mileage: 10000000</p>
                                <p class="card-text">Brake inspection</p>
                                <p class="card-text">Brake inspection</p>
                                <p class="card-text">Brake inspection</p>
                                <p class="card-text">Brake inspection</p>
                                <p class="card-text">Brake inspection</p>

                            </div>
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Date</h5>
                                <p>mileage: 10000000</p>
                                <p class="card-text">Brake inspection</p>
                                <p class="card-text">Brake inspection</p>
                                <p class="card-text">Brake inspection</p>
                                <p class="card-text">Brake inspection</p>
                                <p class="card-text">Brake inspection</p>

                            </div>
                        </div>
                    </div>
                </div>



        </div> --}}
