{{!-- Login section --}}
<div class="login-container">
<form class="login-form form">
    <h1 class="form__title">Login</h1>
    <div class="form__input-group">
        <input type="text" id="email-login" class="form__input" autofocus placeholder="Email"/>
    </div>
    <div class="form__input-group">
        <input type="password" id="password-login" class="form__input" autofocus placeholder="Password"/>
    </div>
    <div>
        <button class="button" type="submit">Login</button>
    </div>
    <p class="form__text">
     <a class="form__link" href="./signup" id="linkCreateAccount">Don't have an account? Create account</a>
    </p>
</form>
</div>

</section>

<script src="/static/javascript/login.js"></script> 

