<div id="app">
        <full-page :options="options" id="fullpage" ref="fullpage">
            <div class="section">
                <h3>APPOINTMENT SCHEDULE</h3>
            </div>
            <div class="section">
                <h3>VEHICLE INFORMATION</h3>
                <div class="form-input">
                    <div class="form-input-group">
                        <input type="text" class="form-control" id="car-year" placeholder="Year" aria-label="First name">
                    </div>
                    <div class="form-input-group">
                        <input type="text" class="form-control" id="vin" placeholder="VIN" aria-label="Last name">
                    </div>
                    <div class="form-input-group">
                        <input type="text" class="form-control" id="car-make" placeholder="Make" aria-label="First name">
                    </div>
                    <div class="form-input-group">
                        <input type="text" class="form-control" id="car-model" placeholder="Model" aria-label="Last name">
                    </div>
                    <div class="form-input-group">
                        <input type="text" class="form-control" id="car-mileage" placeholder="Mileage" aria-label="Last name">
                    </div>
                </div>
            </div>
            <div class="section">
                <h3>DESCRIBE SERVICE</h3>
                <div class="form-input">
                    <label for="floatingTextarea2">Please select at least one service or add comments to continue</label>

                    <textarea class="form-control" id="repair" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px"></textarea>
                    </div>
            </div>
            <div class="section">
                <h3>SELECT SCHEDULE</h3>
                <div class="form-input">
                    <form class="form-group">
                    <div class="form-group">
                        <label class="col-sm-4 col-lg-4">
                      Date
                    </label>
                        <div class="col-sm-8 col-lg-8">
                            <input type="date" id="date" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 col-lg-4">
                       Time
                    </label>
                        <div class="col-sm-8 col-lg-8">
                            <input type="time" id="time" class="form-control">
                        </div>
                    </div>
                    <div class="form-group justify-content-center">
                        <div class="col-sm-5">
                            <button type="submit" class="button">
                            Confirm
                        </button>
                        </div>
                    </div>
                </form>
            </div>
            </div>
        </full-page>
    </div>


 <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.13/vue.min.js"></script>
    <script src="https://unpkg.com/vue-fullpage.js/dist/vue-fullpage.js"></script>
<script src="/static/javascript/vue.js"></script>
<script src="/static/javascript/schedule-appt.js"></script>