<h1>Make Appointment</h1>
{{!-- <article>
  <form class="schedule-form">
    <div>
        <label>Make</label>
      <input id="car-make" type="text"/>
      <label>Model</label>
      <input id="car-model" type="text"/>
        <label>Year</label>
      <input id="car-year" type="text"/>
      <label>Mileage</label>
      <input id="car-mileage" type="text"/>
        <label>Date</label>
      <input id="date" type="text"/>
            <label>VIN</label>
      <input id="vin" type="text"/>
                  <label>Repair</label>
      <input id="repair" type="text"/>
    </div>
    <button type="submit">Submit</button>
  </form>
</article> --}}
<script src="/static/javascript/schedule-appt.js"></script> 