<div class="d-flex align-items-stretch justify-content-around flex-wrap">

        <!-- monitor section-->
        <div class="col-sm-8 monitor">

            <!-- date time  -->
            <!-- <div>date</div> -->
            <div class="d-flex justify-content-around flex-wrap">
                <div class="container-fluid">
                    <div class="row justify-content-between">
                        <div class="col-4 model">
                            <h2>MODEL</h2>
                            <h6>Series | Year</h6>
                        </div>
                        <div class="col-4 datetime">
                            <h2>DATE</h2>
                            <h2>TIME</h2>
                        </div>
                    </div>
                </div>
            </div>

            <!-- image -->
            <div>
                <div class="bodyimage">
                    <img src="../assets/image/IMG_4646.png" alt="" width="80%" height="auto">
                </div>
            </div>

            <!-- information -->
            <div class="card card-information">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="card card-border">
                            <div class="card-body">
                                <h5 class="card-title">Car Owner Informatioon</h5>
                                <p class="card-text">Natthaphon Foithong</p>
                                <p class="card-text">natt@gmail.com</p>
                                <p class="card-text">703-397-7359</p>

                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="card card-border">
                            <div class="card-body">
                                <h5 class="card-title">Estimate Pick Up Time</h5>
                                <p class="card-text">Date/Time</p>
                                <ul class="nav justify-content-end service-link">
                                    <li class="nav-item">
                                        <a class="nav-link service-nav" aria-current="page" href="#">Another car</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link service-nav" href="#">Service history</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        {{!-- service-history --}}

                <div class="row service-history justify-content-around">
                   <h4>Service History</h4>
                    <div class="col-sm-4">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Date</h5>
                                <p>mileage: 10000000</p>
                                <p class="card-text">Brake inspection</p>
                                <p class="card-text">Brake inspection</p>
                                <p class="card-text">Brake inspection</p>
                                <p class="card-text">Brake inspection</p>
                                <p class="card-text">Brake inspection</p>

                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Date</h5>
                                <p>mileage: 10000000</p>
                                <p class="card-text">Brake inspection</p>
                                <p class="card-text">Brake inspection</p>
                                <p class="card-text">Brake inspection</p>
                                <p class="card-text">Brake inspection</p>
                                <p class="card-text">Brake inspection</p>

                            </div>
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Date</h5>
                                <p>mileage: 10000000</p>
                                <p class="card-text">Brake inspection</p>
                                <p class="card-text">Brake inspection</p>
                                <p class="card-text">Brake inspection</p>
                                <p class="card-text">Brake inspection</p>
                                <p class="card-text">Brake inspection</p>

                            </div>
                        </div>
                    </div>
                </div>



        </div>




        <!-- repair section-->
        <div class="col-sm-4 repair">
            <!-- repair detail -->
            <div>
              <h4>REPAIR DETAIL</h4>
              </div>
            <div></div>
            <hr>

            <div class="card" style="width: 18rem;">
              {{!-- <div class="card-header">
                Featured
              </div> --}}
              <ul class="list-group list-group-flush">
                <li class="list-group-item">item</li>
                <li class="list-group-item">item</li>
               <li class="list-group-item">item</li>
                <li class="list-group-item">item</li>
                <li class="list-group-item">item</li>
                <li class="list-group-item">item</li>
                <li class="list-group-item">item</li>
                <li class="list-group-item">item</li>
              </ul>
            </div>
          
            <br><br>

            {{!-- Car Completed - checkmark --}}
            <div>
              <div>
              <svg class="checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52">
              <circle class="checkmark__circle" cx="26" cy="26" r="25" fill="none"/>
              <path class="checkmark__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8"/>
              </svg>
              </div>
            <div class="readypickup">
              <h2>Ready for Pick Up</h2>
              </div>
              </div>
        </div>

    </div>
